## preprocess

In [1]:
import pandas as pd

In [2]:
import pymongo as mg
import pandas as pd
client = mg.MongoClient(host='mongodb://localhost:27017')

In [3]:
database = client['db_NHIS']

In [4]:
collection = database['Join Collection NSC2_BND_M20']

In [5]:
cursor = collection.find({})

In [6]:
list_NBM = list(cursor)

In [7]:
df_NBM = pd.DataFrame(list_NBM)
df_NBM[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY
0,64e6d1c0b5e01adfd8979e02,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,0,1,1,3,5.0,0.15,10590,3000,7590,2002
1,64e6d1c0b5e01adfd8979e03,294364,1921LE,200707.0,T08-T14,W00-W19,2002090466395,63715,20020910,3,...,0,1,1,2,5.0,0.15,16520,4950,11570,2002

In [8]:
df_NBM['SICK_SYM1'].value_counts()

J209     8244
I10      4629
I109     3275
F_       3203
N_       3177
         ...
H700        1
E058        1
M5397       1
T18         1
P289        1
Name: SICK_SYM1, Length: 3414, dtype: int64

In [11]:
len('F_'), len('M5397')

(2, 5)

In [12]:
def convertSICK_SYM(sick_sym):
    if len(sick_sym) < 3:
        return None
    else :
        return sick_sym[:3]

In [13]:
convertSICK_SYM('M5397')

'M53'

In [15]:
df_NBM['SICK_SYM1_3']= df_NBM['SICK_SYM1'].apply(convertSICK_SYM)

In [38]:
df_NBM['SICK_SYM1_3'].value_counts()

J20    8917
I10    8427
J03    4187
M54    3904
J06    3460
       ...
G97       1
K01       1
S28       1
I72       1
P28       1
Name: SICK_SYM1_3, Length: 747, dtype: int64

In [39]:
df_NBM_drop=df_NBM.dropna()

In [40]:
df_NBM_drop.isnull().sum()

_id                   0
RN_INDI               0
BTH_YYYY              0
DTH_YYYYMM            0
COD1                  0
COD2                  0
RN_KEY                0
RN_INST               0
MDCARE_STRT_DT        0
FORM_CD               0
MCARE_SUBJ_CD         0
SICK_SYM1             0
OFIJ_TYPE             0
OPRTN_YN              0
MDCARE_DD_CNT         0
VSHSP_DD_CNT          0
TOT_PRSC_DD_CNT       0
MCARE_RSLT_TYPE       0
EDC_ADD_RT            0
ED_RC_TOT_AMT         0
EDC_SBA               0
EDC_INSUR_BRDN_AMT    0
STD_YYYY              0
SICK_SYM1_3           0
dtype: int64

In [41]:
df_NBM_drop['SICK_SYM1_3'].value_counts()

J20    68
E11    56
I10    50
J30    35
I42    32
       ..
R81     1
H36     1
K12     1
E03     1
H00     1
Name: SICK_SYM1_3, Length: 141, dtype: int64

In [42]:
target_list = df_NBM_drop['SICK_SYM1_3'].value_counts().index.to_list()

In [43]:
target_list.index('I10')

2

In [44]:
def applyIndexNumber(sick_sym_3):
    indexNumber= target_list.index(sick_sym_3)
    return indexNumber

In [45]:
df_NBM_drop['SICK_SYM1_3_list']=df_NBM_drop['SICK_SYM1_3'].apply(applyIndexNumber)

C:\Users\01-15\AppData\Local\Temp\ipykernel_13904\158970229.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_NBM_drop['SICK_SYM1_3_list']=df_NBM_drop['SICK_SYM1_3'].apply(applyIndexNumber)

In [46]:
df_NBM_drop[:2]

,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,COD2,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,...,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,SICK_SYM1_3,SICK_SYM1_3_list
0,64e6d1c0b5e01adfd8979e02,294364,1921LE,200707.0,T08-T14,W00-W19,2002080298703,26452,20020830,3,...,1,3,5.0,0.15,10590,3000,7590,2002,L02,83
3,64e6d1c0b5e01adfd8979e05,294364,1921LE,200707.0,T08-T14,W00-W19,2002020488631,23506,20020208,3,...,1,3,5.0,0.15,12920,3000,9920,2002,K29,8