In [1]:
import pymongo as mg
import pandas as pd
client = mg.MongoClient(host='mongodb://localhost:27017')

In [2]:
database = client['db_NHIS']

In [3]:
collection = database['NSC2_M20']

In [4]:
cursor = collection.find()

In [5]:
list_M20 = list(cursor)
df_M20 = pd.DataFrame(list_M20)
df_M20

,_id,RN_INDI,RN_KEY,RN_INST,MDCARE_STRT_DT,FORM_CD,MCARE_SUBJ_CD,SICK_SYM1,OFIJ_TYPE,OPRTN_YN,...,MCARE_RSLT_TYPE,EDC_ADD_RT,ED_RC_TOT_AMT,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,HSPTZ_PATH_TYPE,SICK_SYM2,SPCF_SYM_TYPE,FST_HSPTZ_DT
0,64e5b91211c7f85f0f4b2ad7,429577,2002070826167,101494,20020729,3,15,B07,0,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
1,64e5b91211c7f85f0f4b2ad8,362517,2002070388352,82780,20020729,3,14,B354,NaN,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
2,64e5b91211c7f85f0f4b2ad9,850526,2002040682051,15540,20020429,3,10,M81,0,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
3,64e5b91211c7f85f0f4b2ada,334221,2002050374273,47663,20020527,3,14,L739,0,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
4,64e5b91211c7f85f0f4b2adb,1008348,2002090440633,74788,20020924,3,4,D48,NaN,0,...,5.0,0.15,10590,3000,7590,2002,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137158,64e5b91b11c7f85f0f4d429d,2078794,2015021769648,39694,20150217,2,11,J_,0,0,...,9.0,0.20,459240,107180,352060,2015,32.0,A099,NaN,NaN
137159,64e5b91b11c7f85f0f4d429e,179035,2015031741483,85129,20150331,2,10,Z_,0,0,...,1.0,0.20,1296200,307940,988260,2015,32.0,O_,NaN,NaN
137160,64e5b91b11c7f85f0f4d429f,2088649,2015072309822,128413,20150716,2,11,G039,0,0,...,9.0,0.25,945820,224940,720880,2015,32.0,J303,NaN,NaN
137161,64e5b91b11c7f85f0f4d42a0,857094,2015072016434,119190,20150712,10,0,F_,0,0,...,9.0,0.15,577940,0,577940,2015,32.0,F_,NaN,NaN
137162,64e5b91b11c7f85f0f4d42a1,286070,2015060100839,121839,20150603,2,9,G822,0,0,...,1.0,0.20,2004440,522320,1482120,2015,32.0,F_,NaN,20150603.0

In [10]:
df_M20.info()
## 연속형 선택: MDCARE_DD_CNT = 요양일수,OPRTN_YN=수술여부, ED_RC_TOT_AMT = 심결요양급여비용총액

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 137163 entries, 0 to 137162
Data columns (total 23 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   _id                 137163 non-null  object
 1   RN_INDI             137163 non-null  int64
 2   RN_KEY              137163 non-null  int64
 3   RN_INST             137163 non-null  int64
 4   MDCARE_STRT_DT      137163 non-null  int64
 5   FORM_CD             137163 non-null  int64
 6   MCARE_SUBJ_CD       137163 non-null  int64
 7   SICK_SYM1           137163 non-null  object
 8   OFIJ_TYPE           134428 non-null  object
 9   OPRTN_YN            137163 non-null  int64
 10  MDCARE_DD_CNT       137163 non-null  int64
 11  VSHSP_DD_CNT        137163 non-null  int64
 12  TOT_PRSC_DD_CNT     137163 non-null  int64
 13  MCARE_RSLT_TYPE     133958 non-null  float64
 14  EDC_ADD_RT          137163 non-null  float64
 15  ED_RC_TOT_AMT       137163 non-null  int64
 16  EDC_SBA             137163 non-null  int64
 17  EDC_INSUR_BRDN_AMT  137163 non-null  int64
 18  STD_YYYY            137163 non-null  int64
 19  HSPTZ_PATH_TYPE     4201 non-null    float64
 20  SICK_SYM2           95774 non-null   object
 21  SPCF_SYM_TYPE       3528 non-null    object
 22  FST_HSPTZ_DT        1040 non-null    float64
dtypes: float64(4), int64(14), object(5)
memory usage: 24.1+ MB

In [11]:
df_M20_amount=df_M20[['MDCARE_DD_CNT','OPRTN_YN','ED_RC_TOT_AMT']]

In [12]:
df_M20_amount.to_csv('../../datasets/NSC2_M20_amount.csv')